<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>Spin'N Stone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script id="translatescr" type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script id="mapid" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQDNq7UGud7a-xrwJ7EzWQohzmoLWuj5s&callback=initMap" async defer></script>
    <script id="mapid">
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15.5,
          center: {lat: 30.612351354226888, lng: -96.34144927116475}
        });
        var marker = new google.maps.Marker({
          position: {lat: 30.612351354226888, lng: -96.34144927116475},
          map: map,
          title: 'Spin\'N Stone MSC Location'
        });
      }
    </script>
  <style>
    .container{
      background-image: url("https://cdn.discordapp.com/attachments/1071060022244691992/1095883311345311804/depositphotos_246113180-stock-photo-delicious-pizza-grey-background-space.png");
      background-repeat: no-repeat;
      background-size: 100% 70%;
      padding-bottom: 20%;
      margin-top: 5%;
    }
    .row{
      margin-left: 35%;
    }
    .col-sm-4{
      margin-top: 5%;
    }

    .btn{
      margin-top: 5%;
    }

    #GuestOrder{
      margin-top: 10%;
      border-radius: 10px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }   
    #GuestOrder a{
      text-decoration: none;
      color:black;
    }   
    
    #MapContainer{
      width: fit-content;
    }
    
    #map{
      border-radius: 10px;
      width: 400px;
      height: 400px;
    }

    footer {
      text-align: center;
      position: fixed;
      justify-content: space-between;
      font-size: 20;
      color: aliceblue;
      bottom: 0;
      left: 0;
      text-justify: auto;
      height: 90px;
      background-color: #dc3546d7;
      width: 100%;
    }
  </style>
  </head>
<body>
  <div class="p-3 mb- bg-success">
    <div class="p-3 mb-2 bg-danger text-dark">
      <div class="row">
      <div class="col">
        <h1> Welcome to Spin'N Stone!</a></h1>
          <p>Pizza made to order!</p>
      </div>
      <div class="col">
        <div id="google_translate_element"></div>
          
        <script id="translatescr" type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
          }
        </script>
      </div>
    </div>
    </div>
  
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="p-3 mb-2 bg-warning text-dark">
              <div class="container2">
                <div class="row2">
                  <div class="col-sm-auto">
                    <h3>Employee Login</h3>
                  </div>
                  <form action="/index" method="POST">
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <a href="/auth/google">Login with Google</a>
                </div>                
              </div>
            </div>


            <div class="p-3 mb-2 bg-warning text-dark" id="GuestOrder">
              <h3><a href="orderPage">Order as Guest</a></h3>
              <!--<p>Select location later</p>-->
              </div>
          </div>
          

          <div class="col-sm-4" id="MapContainer">
            <div class="p-3 mb-2 bg-warning text-dark">
            <h3>See our Location!</h3>
            <div id="map" ></div>
            <!--<p>Unsure? Google Maps "Spin'N Stone"</p> -->
            </div>
          </div>
        </div>
        
        <!-- <div class="row">
          <img src="https://cdn.discordapp.com/attachments/1071060022244691992/1095883311345311804/depositphotos_246113180-stock-photo-delicious-pizza-grey-background-space.png" class="img-fluid" alt="Responsive image">
        </div> -->
      </div>
    </div>
    <footer>
        <p>Service options: Dine-in · Takeout · No delivery </p>
        <p >Address: Memorial Student Center, 275 Joe Routt Blvd, College Station, TX 77840</p>
    </footer>
</body>